<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/img/favicon-32x32.png" rel="icon" />
    <title>DesignX | Founding</title>
    <link rel="stylesheet" href="../assets/css/module.css" />
  </head>
  <body>
    <!-- Preloader -->
    <div class="wrapper">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div>
    <!-- End of Preloader -->

    <div class="video-container">
      <video loop autoplay muted>
        <source src="../assets/video/webdev.mp4" />
      </video>
      <div class="founder-content">
        <h1>DesignX: Pioneering the Future of Design</h1>
        <div class="paragraphs">
          <p>
            DesignX is a personal web development business founded by Rahul
            Dawpersad on June 27, 2023. Rahul's passion for software development
            led him to create a business that focuses on web development and
            graphic design. With a strong background in software development and
            graphic design, Rahul honed his skills in web development and
            graphic design over the years. Rahul faced several challenges in the
            first year, including finding clients, balancing work and personal
            life, and continuous learning.
          </p>
          <p>
            However, as DesignX gained traction and clients began to pour in,
            the business experienced growth in several areas, including
            expanding services, building a team
            <a href="https://mrjofficial.netlify.app" target="_blank">MRJ</a>,
            and establishing a strong online presence. Rahul has big plans for
            the next few years, including expanding their services, reaching
            more clients, and staying at the forefront of web development
            trends. With a strong foundation, DesignX is poised to become a
            leading web development and graphic design business in the Tech
            industry.
          </p>
        </div>
      </div>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      // Preloader Functionality
      setTimeout(function () {
        $(".wrapper").fadeOut();
      }, 4000);
    </script>
  </body>
</html>
