<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>DesignX | Portfolio</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img/favicon-32x32.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link
      href="../assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="../assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet" />
  </head>

  <body>

     <!-- Preloader -->
     <div class="wrapper">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div>
    <!-- End of Preloader -->


    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="../index.html"><span>WEB</span>FOLIO</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="../index.html">Home</a></li>
            <li><a class="nav-link scrollto" href="../index.html">About</a></li>
            <li>
              <a class="nav-link scrollto" href="../index.html">Projects</a>
            </li>
            <li>
              <a
                class="nav-link scrollto"
                href="https://www.rahuldawpersad.com/blog.html"
                >Blog</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <div
      class="hero hero-single route bg-image"
      style="background-image: url('../assets/img/hangman2.jpg')"
    >
      <div class="overlay-flappy"></div>
      <div class="hero-content display-table">
        <div class="table-cell">
          <div class="container">
            <h2 class="hero-title mb-4">PROJECT DETAILS</h2>
            <ol class="breadcrumb d-flex justify-content-center">
              <li class="breadcrumb-item">
                <a href="../index.html">Home</a>
              </li>
              <li class="breadcrumb-item active">Project Details</li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <main id="main">
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          <div class="row gy-4">
            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide">
                    <img src="../assets/img/hangman.png" alt="" />
                  </div>

                  <!-- <div class="swiper-slide">
                    <img src="../assets/img/tictactoe2.png" alt="" />
                  </div> -->

                  <!-- <div class="swiper-slide">
                    <img src="../assets/img/tictactoe3.png" alt="" />
                  </div> -->
                </div>
                <!-- <div class="swiper-pagination"></div> -->
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Category</strong>: Web Game</li>
                  <li><strong>Project date</strong>: 28 November 2023</li>
                  <li>
                    <strong>Project URL</strong>:
                    <a
                      href="https://www.rahuldawpersad.com/hangman"
                      target="_blank"
                      class="download-link"
                      >www.rahuldawpersad.com/hangman</a
                    >
                  </li>
                </ul>
              </div>
              <div class="portfolio-description">
                <h2>Description</h2>
                <p>
                  Embark on a word-guessing adventure with this captivating
                  web-based hangman game! Constructed using HTML, CSS, and
                  JavaScript, this game brings the classic hangman experience to
                  life in your web browser. With its vibrant design and
                  user-friendly interface, players can test their vocabulary and
                  deduction skills as they attempt to guess the hidden word
                  before the hangman is fully drawn. Whether you're playing solo
                  or challenging friends, this game offers an entertaining and
                  immersive way to sharpen your word knowledge. Try it out now
                  and see if you have what it takes to avoid the hangman's noose
                  in this thrilling and addictive game
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Details Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer>© WEBFOLIO 2024 </footer>
    <!-- End  Footer -->
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../assets/vendor/typed.js/typed.umd.js"></script>
    <script src="../assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="../assets/js/main.js"></script>
  </body>
</html>
