<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>DesignX | Portfolio</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../assets/img/favicon-32x32.png" rel="icon" />
    <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Template Main CSS File -->
    <link href="../assets/css/pricing.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Preloader -->
    <!-- <div class="wrapper">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div> -->
    <!-- End of Preloader -->


     <!-- ======= Header ======= -->
     <div class="nav-wrapper">
      <div class="grad-bar"></div>
      <nav class="navbar">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c8/Bluestar_%28bus_company%29_logo.svg/1280px-Bluestar_%28bus_company%29_logo.svg.png" alt="Company Logo"> -->
        <h1>WEBFOLIO</h1>
        <div class="menu-toggle" id="mobile-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
        <ul class="nav no-search">
          <li class="nav-item"><a href="../index.html">Home</a></li>
          <li class="nav-item"><a href="../index.html">About</a></li>
          <li class="nav-item"><a href="../index.html">Projects</a></li>
          <li class="nav-item"><a href="../index.html">Contact Us</a></li>
        </ul>
      </nav>
  <!-- End Header -->

    <!-- <div class="heading">
      <h1>MY HOSTING PLAN</h1>
    </div> -->
 <!-- Pricing Plan -->
 <div class="pricing-container">
  <div class="plan">
    <div class="inner">
      <span class="pricing">
        <span>
          R200 <small>/ Per Month</small>
        </span>
      </span>
      <p class="title">Basic Hosting Plan</p>
      <p class="info">Easy monthly payments.</p>
      <ul class="features">
                <li class="list">
                    <span class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                        </svg>
                    </span>
                    <span>Pay <strong>R200</strong> Per Month</span>
                </li>
                <li class="list">
                    <span class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                        </svg>
                    </span>
                    <span><strong>Custom </strong>Domains</span>
                </li>
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span>SSL  <strong>Encryption</strong></span>
        </li>
                <li>
          <span class="icon custom-icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span><strong>No </strong>database support + 1 Contact Form</span>
        </li>
      </ul>
      <div class="action">
      <a class="button custom-button" href="#">
        Choose plan
      </a>
      </div>
    </div>
  
        <!-- Two -->
        <div class="inner">
      <span class="pricing">
        <span>
          R2400 <small>/ 12 Months</small>
        </span>
      </span>
      <p class="title">Standard Hosting Plan</p>
      <p class="info">Affordable yearly payment.</p>
      <ul class="features">
           <li class="list">
            <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
            </span>
            <span>Pay <strong>R2400</strong> once for 12 Months</span>
        </li>
        <li class="list">
            <span class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                </svg>
            </span>
            <span><strong>Custom </strong>Domains</span>
        </li>
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span>SSL  <strong>Encryption</strong></span>
        </li>
        <li>
          <span class="icon custom-icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span><strong>Limited </strong>database support (1 MySQL database)</span>
        </li>
      </ul>
      <div class="action">
      <a class="button" href="#">
        Choose plan
      </a>
      </div>
    </div>
  
         <!-- Three -->
         <div class="inner">
      <span class="pricing">
        <span>
          R4800 <small>/ 2 Years (24 Months)</small>
        </span>
      </span>
      <p class="title">Advanced Hosting Plan</p>
      <p class="info">One-time payment for extended benefits.</p>
      <ul class="features">
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span>Pay <strong>R4800</strong> once for 2 years</span>
        </li>
                <li class="list">
                    <span class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                        </svg>
                    </span>
                    <span><strong>Custom </strong>Domains</span>
                </li>
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span>SSL  <strong>Encryption</strong></span>
        </li>
        <li>
          <span class="icon custom-icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span><strong>Limited </strong>database support (5 MySQL databases)</span>
        </li>
      </ul>
      <div class="action">
      <a class="button" href="#">
        Choose plan
      </a>
      </div>
    </div>
  
         <!-- Four -->
         <div class="inner">
      <span class="pricing">
        <span>
          R7200 <small>/ 3 Years (36 Months)</small>
        </span>
      </span>
      <p class="title">Premium Hosting Plan</p>
      <p class="info custom-info">One-time payment for maximum performance.</p>
      <ul class="features">
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
                    <span>Pay <strong>R7200 </strong> once for 3 years</span>
        </li>
                <li class="list">
                    <span class="icon">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"></path>
                            <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
                        </svg>
                    </span>
                    <span><strong>Custom </strong>Domains</span>
                </li>
        <li class="list">
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
                    <span>SSL  <strong>Encryption</strong></span>
        </li>
        <li>
          <span class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path fill="currentColor" d="M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z"></path>
            </svg>
          </span>
          <span><strong>Unlimited </strong>database support</span>
        </li>
      </ul>
      <div class="action">
      <a class="button custom-button" href="#">
        Choose plan
      </a>
      </div>
    </div>
  </div>
    
 </div>
    <!-- End of The Pricing Plan -->

    
    <!-- Vendor JS Files -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <!-- Template Main JS File -->
    <script>
      // Preloader Functionality
setTimeout(function(){
  $('.wrapper').fadeOut();
}, 2500); 

$("#search-icon").click(function() {
  $(".nav").toggleClass("search");
  $(".nav").toggleClass("no-search");
  $(".search-input").toggleClass("search-active");
});

$('.menu-toggle').click(function(){
   $(".nav").toggleClass("mobile-nav");
   $(this).toggleClass("is-active");
});

    </script>

  </body>
</html>