@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* *,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* Resize CSS if Needed */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

html{
    font-size: 80.5%;
}

html, body{
    /* background: #00224D; */
    font-family: 'Poppins', sans-serif;
}

.nav-wrapper {
    width: 100%;
    position: -webkit-sticky; 
    /* position: fixed; */
    position: sticky;
    top: 0;
    background-color: #ffffff;
  }
  
  .grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
        -webkit-animation: gradbar 15s ease infinite;
      -moz-animation: gradbar 15s ease infinite;
      animation: gradbar 15s ease infinite;
  }
  
  /* NAVIGATION */
  
  .navbar {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    height: 50px;
    overflow: hidden;
  }
  
  .navbar img {
    height: 16px;
    width: auto;
    justify-self: start;
    margin-left: 20px;
  }
  
  .navbar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-self: end;
    
  }
  
  .nav-item a {
    color: #000;
    font-size: 0.9rem;
    font-weight: 400;
    text-decoration: none;
    transition: color 0.3s ease-out;
  }
  
  .nav-item a:hover {
    color: #3498db;
  }
  
  /* MOBILE MENU & ANIMATION */
  
  .menu-toggle .bar{
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-toggle {
    justify-self: end;
    margin-right: 25px;
    display: none;
  }
  
  .menu-toggle:hover{
    cursor: pointer;
  }
  
  #mobile-menu.is-active .bar:nth-child(2){
    opacity: 0;
  }
  
  #mobile-menu.is-active .bar:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  
  #mobile-menu.is-active .bar:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  
  /* KEYFRAME ANIMATIONS */
  
  @-webkit-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @-moz-keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  @keyframes gradbar {
      0% {
          background-position: 0% 50%
      }
      50% {
          background-position: 100% 50%
      }
      100% {
          background-position: 0% 50%
      }
  }
  
  /* Media Queries */
  
    /* Mobile Devices - Phones/Tablets */
  
  @media only screen and (max-width: 720px) { 
    /* MOBILE NAVIGATION */
       
    .navbar ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      position: fixed;
      justify-content: start;
      top: 55px;
      background-color: #fff;
      width: 100%;
      height: 100%;
      height: calc(100vh - 55px);
      transform: translate(-101%);
      text-align: center;
      overflow: hidden;
      bottom: 0;
    }
    
    .navbar li {
      padding: 15px;
    }
    
    .navbar li:first-child {
      margin-top: 50px;
    }
    
    .navbar li a {
      font-size: 1rem;
    }
     
    .menu-toggle, .bar {
      display: block;
      cursor: pointer;
    }
    
    .mobile-nav {
    transform: translate(0%)!important;
  }

  }



/* .heading{
    text-align: center;
    margin: 7em 0;
} */

.heading h1{
    font-family: "Bangers", system-ui;
    font-size: 2.6em;
    letter-spacing: 3px;
    font-weight: normal;
}

/* .pricing-container{
    z-index: 100;
} */

.plan {
    border-radius: 16px;
    /* box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
    /* background-color: #fff; */
    color: #697e91;
    display: flex;
    margin: 8em 0;
    z-index: -100;
  }

  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 18px;
    margin: 0 1.4em;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
    z-index: -100;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #00224D;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #ffffff;
  }
  
  .plan .pricing small {
    color: #ffffff;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
    margin: 1.4em 0;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }

  .plan .info{
    font-size: 1em;
}

.plan .custom-info{
    width: 260px;
}
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    margin-left: -2em;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
    font-size: 0.9em;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 21px;
    height: 20px;
  }
  
  .plan .features .custom-icon {
    width: 33px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #00224D;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover,
  .plan .button:focus {
    background-color: #4133B7;
  }

  .plan .custom-button{
    margin-top: -0.1em;
  }
  
  /* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
    .plan {
      flex-direction: column;
      margin-bottom: 20px;
    }
    .plan .inner{
        margin: 1.1em;
    }
    .plan .features .custom-icon{
        width: 21px;
    }
    .heading{
        margin: 2em 0;
    }
    .heading h1{
        font-size: 2em;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 1194px) {
    .plan {
        flex-direction: column;
        margin-bottom: 20px;
        max-width: 50%;
        margin-left: 11.5em;
      }
      .plan .inner{
          margin: 1.1em;
      }
      .plan .features .custom-icon{
          width: 21px;
      }
  }